extends layout

block content
  .container-fluid
    .text-center
      h1= title
      p Welcome to #{title}

      if error == 'logoutError'
        .alert.alert-danger(role='alert') There was an error logging you out. Please try again.
      if githubRepoError
        .alert.alert-danger(role='alert') #{githubRepoError}
      if userInfo && userInfo.length > 0
        p Welcome our GitHub guest: #{userInfo[0].github_username}
        //- Logout Button
        a.btn.btn-danger(href='/users/logout') Log Out

    //- Display GitHub Repositories
    if githubRepos && githubRepos.length > 0
      .row.no-gutters
        each repo in githubRepos
          .col-lg-4.col-md-6.col-sm-12.mb-4.custom-col
            .card.card-hover
              .card-body
                h5.card-title
                  span(style="color: #207fe0; font-weight: bold; margin-right: 5px;")= repo.name
                  if repo.private
                    span.badge(style="background-color: white; color: #636c76; border: 1px solid #d0d7de; border-radius: 10px;padding: 5px; font-size: 13px;") Private
                  else
                    span.badge(style="background-color: white; color: #636c76; border: 1px solid #d0d7de; border-radius: 10px;padding: 5px; font-size: 13px;") Public
                p.card-text(style="color: #636c76;")= repo.description
                .d-flex.align-items-center.flex-wrap
                  if repo.language
                    .badge.custom-badge(style="color: #776c76; display: flex; align-items: center; justify-content: center;")
                      span.circle(style="background-color: #f1df62; width: 12px; height: 12px; border-radius: 50%; display: inline-block; margin-right: 5px;")
                      | #{repo.language}
                  if repo.stars > 0
                    .badge.custom-badge(style="color: #776c76; font-weight: bold; display: flex; align-items: center; justify-content: center;")
                      i.fas.fa-star(style="margin-right: 5px;")
                      | #{repo.stars}
                  if repo.forks > 0
                    .badge.custom-badge(style="color: #776c76; font-weight: bold; display: flex; align-items: center; justify-content: center")
                      i.fas.fa-code-branch(style="margin-right: 5px;")
                      | #{repo.forks}
    else
      .alert.alert-info(role='alert') No repositories found.

  //- Custom Styles
  style.
    .custom-badge:not(:first-child) {
      margin-left: 0px;
    }
    .card-hover {
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .card-hover:hover {
      transform: scale(1.02);
    }
    .custom-col {
      padding-left: 10px;
      padding-right: 10px;
    }
    .container-fluid {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media (max-width: 576px) {
      .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
